asgiref==3.11.1
black==22.1.0
click==8.4.1
Django==6.0.6
django-js-asset==4.0.1
django-mptt==0.18.0
django-modeltranslation==0.20.3
flake8==4.0.1
mccabe==0.6.1
mypy_extensions==1.1.0
pathspec==1.1.1
platformdirs==4.10.0
python-dotenv==1.1.0
pycodestyle==2.8.0
pyflakes==2.4.0
sqlparse==0.5.5
stripe==15.2.1
tomli==2.4.1
