{% extends "publications/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Email Sent" %} - {{ site_title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<div class="message-wrapper">
    <div class="message-box">
        <h2>{% trans 'Email Sent' %}</h2>
        <p>{% trans 'We will send instructions to reset your password to the email address provided, if it is included in our database. You should receive it soon.' %}</p>

        <p style="font-size: 12px; opacity: 0.6;">{% trans "If you don't receive it within a few minutes, check your Spam or Junk Email folder." %}</p>

        <a href="{% url 'login' %}" class="btn-back-login">{% trans 'Back to Login' %}</a>
    </div>
</div>
{% endblock %}
