{% extends "publications/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password Reset Complete" %} - {{ site_title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<div class="complete-wrapper">
    <div class="complete-box">
        <h2>{% trans 'Updated Password' %}</h2>
        <p>{% trans 'Your password has been successfully reset! You can now access the platform using your new credentials.' %}</p>

        <a href="{% url 'login' %}" class="btn-complete-login">{% trans 'Login now' %}</a>
    </div>
</div>
{% endblock %}
