{% load publications_extras %}
{% load i18n %}
<div class="drawer-cat-children children-of-{{ category.slug }}" data-cat-id="{{ category.slug }}">
    <a href="{% url 'publications:home' %}?category={{ category.slug }}"
       class="drawer-sub-link cat-{{ category.slug }} cat-see-all"
       data-cat-id="{{ category.slug }}"
       data-parent-id="{{ category.parent_id }}">{% blocktrans with name=category.name %}See all of {{ name }}{% endblocktrans %}</a>
    {% for child in category.get_children %}
        <a href="{% url 'publications:home' %}?category={{ child.slug }}"
           class="drawer-sub-link cat-{{ child.slug }}"
           data-cat-id="{{ child.slug }}"
           data-parent-id="{{ child.parent_id }}">{{ child.name }}</a>
        {% if not child.is_leaf_node %}
            {% render_drawer_children child %}
        {% endif %}
    {% endfor %}
</div>
