{% extends "publications/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ publication.title }} - {% trans "Page" %} {{ page_number }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/publications-reader.css' %}">
{% endblock %}

{% block content %}
<div class="cinema-container">

    <div class="cinema-counter">
        {{ page_number }} / {{ total_pages }}
    </div>

    <a href="{% url 'publications:detail' publication.slug %}" class="cinema-btn btn-cinema-close" title="{% trans 'Close reader' %}">✕ {% trans 'Close' %}</a>

    {% if has_previous %}
        <a href="{% url 'publications:reader' publication.slug previous_page_number %}" class="cinema-btn btn-cinema-prev">◀</a>
    {% else %}
        <span class="cinema-btn btn-cinema-prev disabled">◀</span>
    {% endif %}

    {% if current_page.image %}
        {% if has_next %}
            <a href="{% url 'publications:reader' publication.slug next_page_number %}" class="cinema-link" title="{% trans 'Click to advance' %}">
                <img src="{{ current_page.image.url }}" alt="{% blocktrans with num=page_number %}Page {{ num }}{% endblocktrans %}" class="cinema-image">
            </a>
        {% else %}
            <div class="cinema-link">
                <img src="{{ current_page.image.url }}" alt="{% blocktrans with num=page_number %}Page {{ num }}{% endblocktrans %}" class="cinema-image">
            </div>
        {% endif %}
    {% endif %}

    {% if has_next %}
        <a href="{% url 'publications:reader' publication.slug next_page_number %}" class="cinema-btn btn-cinema-next">▶</a>
    {% else %}
        <span class="cinema-btn btn-cinema-next disabled">🏁</span>
    {% endif %}

</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/publications-reader.js' %}"></script>
{% endblock %}
